.excel-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.excel-modal-send-btn:disabled {
    background: #ccc;
    cursor: not-allowed;
    opacity: 0.7;
}

.excel-modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    z-index: 9999;
    width: 800px;
    height: 450px;
    overflow-y: scroll;
    max-width: 90%;
    position: relative;
}

.excel-modal-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: black;
}

.excel-modal-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sample-excel-image {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.excel-table-container {
    margin-top: 20px;
    max-height: 200px;
    overflow-y: auto;
}

.excel-table-container table {
    width: 100%;
    border-collapse: collapse;
}

.excel-table-container th,
.excel-table-container td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.excel-modal-view-btn,
.excel-modal-send-btn {
    margin-top: 20px;
    padding: 10px;
    background-color: #007c89;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.excel-modal-view-btn:hover,
.excel-modal-send-btn:hover {
    background-color: #007c89;
}

.excel-modal-content input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 95%;
}

.excel-modal-content label {
    margin-bottom: 10px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .excel-modal-content {
        width: 85%;
        margin: 0 auto;
    }
}